<form class="order-form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">  

    <mat-form-field class="input-full-width" appearance="outline">
        <mat-label>Tổng bill nhập</mat-label>
        <input matInput placeholder="" formControlName="total"  type="number" >
      </mat-form-field> &nbsp;&nbsp;&nbsp;

      <mat-form-field class="input-full-width">
          <input matInput [matDatepicker]="fromPicker" placeholder="Ngày nhập" formControlName="postDate" >
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
        </mat-form-field>&nbsp;&nbsp;&nbsp;

        <mat-form-field class="input-full-width" appearance="outline">
            <mat-label>Người nhập</mat-label>
            <input matInput placeholder="" formControlName="postBy" type="text" >
          </mat-form-field>&nbsp;&nbsp;&nbsp;
  <span><strong><br>Chi tiết nhập đơn hàng </strong></span>
  <div class="itemsForm">
  <div formArrayName="items" *ngFor="let item of items.controls, let i=index" >
      <div [formGroupName]="i" class="itemrow">
          <mat-button-toggle-group appearance="legacy" class="menuToggle" formControlName="cat" (click)="categorizeProducts(i, this)" value="beer"> 
              <mat-button-toggle  value="beer">beer</mat-button-toggle>&nbsp;&nbsp;
              <mat-button-toggle  value="others">others</mat-button-toggle>&nbsp;&nbsp;
              <mat-button-toggle   value="outside">outside menu</mat-button-toggle>&nbsp;&nbsp;
            </mat-button-toggle-group>
            <mat-divider inset="false"></mat-divider>
      <mat-form-field class="input-50-width" appearance="outline">
        <mat-label>Bia</mat-label>
        <input type="text" matInput placeholder="" formControlName="product" [matAutocomplete]="auto">
        <button mat-button  matSuffix mat-icon-button aria-label="Clear" >
            <mat-icon>close</mat-icon>
          </button>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProductFn" >
          <mat-option *ngFor="let option of (filteredProducts[i] | async) " [value]="option" >
            {{option.productName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="input-25-width" appearance="outline">
          <mat-label>Số lượng</mat-label>
          <input matInput placeholder="" formControlName="quantity" type="number">
        </mat-form-field>
      <mat-form-field class="input-25-width" appearance="outline">
          <mat-label>Tổng</mat-label>
          <input matInput placeholder="" formControlName="subTotal" type="number">
        </mat-form-field>
        
          &nbsp;<button  color="basic" (click)="removeItem(i)" type="button"><i class="material-icons">
            clear
            </i></button>
          
      </div>      
    </div>     
    <button mat-raised-button color="primary" (click)="addItem()" type="button"><i class="material-icons">
      add
      </i></button>
<br>
</div>
<p>

</p>
<button mat-raised-button color="primary" type="submit" >Save</button>
<button mat-raised-button color="warn"  type="button" (click)="cancel()">Cancel</button>
</form> 
