html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.flex-container{
    display: flex;
    flex-direction: row;
}

.flex-item {
    flex-grow: 1;
    background: tomato;
    color: white;

}

.navRow{
    display: flex;
    background:sienna;
    flex-direction: row;
    
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

