main, header, section, aside, footer {
    margin: 0;
    padding: rem-calc(20);
    border: 1px solid #000000;
    color: #ffffff;
}

main {
    /*background: #000000;*/
}

.header {
    background-color: #7c0a02;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.hero {
    background: #d22b1f;
}

.content {
    background: #129a22;
}

.sidebar {
    border: 1px solid #000000;
    background: #673ab7;
}

.footer {
    border: 1px solid #000000;
    background: #616161;
}