.report-form {
    min-width: 150px;
    max-width: 1200px;
    width: 100%;    
  }

  .report-full-width {
    width: 100%;
  }
  .report-50-width {
    width: 45%;
  }

  .report-onethird-width {
    width: 31%;
  }

  .report-25-width {
    width: 20%;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }

  .itemrow {
    margin: 5px;
  }

  table.mat-table {
    border-spacing: 10px;
}