   
   <!-- <p center><a mat-flat-button color="warn" [routerLink]="['/inside/orders', 0, 'edit']">New Order</a></p>-->
    <div id="container" >
        <div id="left-column" >
          <div *ngFor="let order of this.orderList">
            <div [ngClass]="(order.od !== undefined)?'table-box-occupied':'table-box-free'" >
            <span> {{order.tblNo}} </span> <br>
             <div *ngIf="order.od !== undefined; else elseBlock" >
                <!--<a routerLink="/inside/orders/{{order.od.id}}">{{order.od.total}}</a> -->
                <a [routerLink]="'/inside/orders/edit/'+ order.od.createdDate">{{order.od.total}}</a>
              </div>
              <ng-template #elseBlock><a [routerLink]="'/inside/orders/' + order.tblNo + '/0'">New order</a> </ng-template>
            </div>
          </div>
        </div>
        <div id="mid-column">
          <b>Bill tách riêng <br> Bàn ngoài sân <br></b>
          <br>
          <a mat-flat-button color="warn" [routerLink]="['/inside/orders/99/0']">Tạo bill riêng</a>
          <div *ngFor="let o of this.orderListSpecial">
            <div class='table-box-occupied'>
            <a [routerLink]="'/inside/orders/edit/'+ o.od.createdDate">bàn {{o.tblNo}} <br> {{o.od.pax}} {{o.od.total}}</a>
          </div>
          </div>
        </div>
        <div id="right-column">
          <div *ngFor="let orderRight of this.orderListRight">
            <div [ngClass]="(orderRight.od !== undefined)?'table-box-occupied':'table-box-free'" >
            <span> {{orderRight.tblNo}} </span> <br>
             <div *ngIf="orderRight.od !== undefined; else elseBlock" >
                <!--<a routerLink="/inside/orders/{{order.od.id}}">{{order.od.total}}</a> -->
                <a [routerLink]="'/inside/orders/edit/'+ orderRight.od.createdDate">{{orderRight.od.total}}</a>
              </div>
              <ng-template #elseBlock><a [routerLink]="'/inside/orders/' + orderRight.tblNo + '/0'">New order</a> </ng-template>
            </div>
          </div>
        </div>
  </div>