.order-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;    
  }
  
  .order-full-width {
    width: 100%;
  }
  .order-50-width {
    width: 45%;
  }

  .order-onethird-width {
    width: 31%;
  }

  .order-25-width {
    width: 20%;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }