<form class="order-form" [formGroup]="orderForm" (ngSubmit)="onSubmit()" autocomplete="off">  
  <mat-form-field class="order-full-width" appearance="outline">
    <mat-label>Order ID</mat-label>
    <input matInput placeholder="" formControlName="createdDate" type="text">
  </mat-form-field>
  <mat-form-field class="order-50-width" appearance="outline">
    <mat-label>Bàn số</mat-label>
    <input matInput placeholder="" formControlName="table" type="number">
  </mat-form-field>
  <mat-form-field class="order-50-width"  [floatLabel]="always" appearance="outline">
    <mat-label>Số người</mat-label>
  <input matInput placeholder="" formControlName="pax">  
</mat-form-field>
   <div formArrayName="items" *ngFor="let item of items.controls, let i=index">
      <div [formGroupName]="i" class="itemrow">
          <mat-button-toggle-group appearance="legacy" class="menuToggle" formControlName="cat" (click)="categorizeProducts(i, this)" value="beer"> 
              <mat-button-toggle  value="beer">beer</mat-button-toggle>&nbsp;&nbsp;
              <mat-button-toggle  value="others">others</mat-button-toggle>&nbsp;&nbsp;
              <mat-button-toggle   value="outside">outside menu</mat-button-toggle>&nbsp;&nbsp;
            </mat-button-toggle-group>
            <mat-divider inset="false"></mat-divider>
      <mat-form-field class="order-50-width" appearance="outline">
        <mat-label>Bia</mat-label>
        <input type="text" matInput placeholder="" formControlName="product" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProductFn">
          <mat-option *ngFor="let option of (filteredProducts | async) " [value]="option" >
            {{option.productName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="order-25-width" appearance="outline">
          <mat-label>Giá</mat-label>
          <input matInput placeholder="" formControlName="price" type="number">
        </mat-form-field>
        <mat-form-field class="order-25-width" appearance="outline">
            <mat-label>Số lượng</mat-label>
            <input matInput placeholder="" formControlName="quantity" type="number">
          </mat-form-field>
          &nbsp;<button  color="basic" (click)="removeItem(i)" type="button"><i class="material-icons">
            clear
            </i></button>
          <mat-radio-group formControlName="pack">
            <mat-radio-button  value="">Chai lẻ</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button  value="six">Gói 6 </mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button   value="ten">Gói 10 </mat-radio-button>&nbsp;&nbsp;
          </mat-radio-group><p></p>
      </div>      
    </div> 
    
    <button mat-raised-button color="primary" (click)="addItem()" type="button"><i class="material-icons">
      add
      </i></button>
      <hr />  

      <mat-form-field class="order-50-width" appearance="outline" >
        <mat-label>Khuyến mãi</mat-label>
        <mat-select formControlName="discountRate">
          <mat-option *ngFor="let discountrate of discountList" [value]="discountrate">{{(discountrate * 100) + "%"}}</mat-option>
         </mat-select>
      </mat-form-field>

      <mat-form-field class="order-50-width" appearance="outline">
        <mat-label>Tiền khuyến mãi</mat-label>
        <input matInput placeholder="" formControlName="discount" value="{{discount}}" type="number" >
      </mat-form-field>

    <mat-form-field class="order-full-width" appearance="outline">
        <mat-label>Thành tiền</mat-label>
        <input matInput placeholder="" formControlName="total" value="{{total}}" type="number" >
      </mat-form-field>
<br><p></p>
<p><mat-checkbox formControlName="close" >Đóng bill (In bill & Thanh toán)</mat-checkbox>  
</p>
<button mat-raised-button color="primary" type="submit" >Lưu SP</button>
<button mat-raised-button color="warn" [routerLink]="['/products']" type="button" (click)="cancel()">Quay về</button>
<button mat-raised-button color="primary" type="button" (click)="printReceiptHTML()" [disabled]="!orderForm.value.close ">In receipt</button>
</form> 
<!--
<br>Dirty: {{ orderForm.dirty }}
<br>Touched: {{ orderForm.touched }}
<br>Valid: {{ orderForm.valid }}
<br>Value: {{ orderForm.value | json }}
<br>Street: {{ orderForm.get('0.street1')?.value }}-->