<form class="example-form" [formGroup]="productForm" (ngSubmit)="onSubmit()">  
  <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{productTexts.productName}}</mat-label>
    <input matInput formControlName="productName">
    <mat-error *ngIf="productName.invalid">{{getErrorMessage()}}</mat-error>   
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{productTexts.productCode}}</mat-label>
    <input matInput type="text" formControlName="productCode" [matAutocomplete]="auto">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let c of productIDs" [value]="c">{{c}}</mat-option>
  </mat-autocomplete>

  <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{productTexts.category}}</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let cat of cats" [value]="cat">
          {{cat}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Cost</mat-label>
  <input matInput formControlName="cost">
  </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{productTexts.price}}</mat-label>
      <input matInput formControlName="price">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{productTexts.pricesix}}</mat-label>
    <input matInput formControlName="pricesix">
  </mat-form-field>
  
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>{{productTexts.priceten}}</mat-label>
  <input matInput formControlName="priceten">
  </mat-form-field>
     
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{productTexts.inventory}}</mat-label>
      <input matInput  formControlName="inventory">
    </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>{{productTexts.odour}}</mat-label>
  <input matInput  formControlName="odour">
</mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>{{productTexts.flavor}}</mat-label>
  <input matInput  formControlName="flavor">
</mat-form-field>

<mat-form-field class="example-full-width" appearance="outline">
  <mat-label>{{productTexts.color}}</mat-label>
<input matInput  formControlName="color">
</mat-form-field>

<mat-form-field class="example-full-width" appearance="outline">
  <mat-label>{{productTexts.abv}}</mat-label>
<input matInput  formControlName="abv">
</mat-form-field>

<mat-form-field class="example-full-width" appearance="outline">
  <mat-label>{{productTexts.ibu}}</mat-label>
<input matInput  formControlName="ibu">
</mat-form-field> 



  <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{productTexts.description}}</mat-label>
    <textarea matInput  formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>tag</mat-label>
    <input matInput  formControlName="tags">
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit" >Lưu SP</button>
  <button mat-raised-button color="basic" [routerLink]="['/inside/products']">Quay về</button>
  <!--button mat-raised-button color="primary" type="button" (click)="createAllProducts()" >Create All</button-->
</form>  