<form class="example-form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="{{productTexts.productName}}" formControlName="productName">
    <mat-error *ngIf="productName.invalid">{{getErrorMessage()}}</mat-error>   
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="{{productTexts.productCode}}" formControlName="productCode">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="{{productTexts.category}}" formControlName="category">
  </mat-form-field>  
  <mat-form-field class="example-full-width">    
    <input matInput [matDatepicker]="picker" placeholder="{{productTexts.availableDate}}" formControlName="availableDate">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="{{productTexts.price}}" formControlName="price">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="{{productTexts.starRating}}" formControlName="starRating">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="{{productTexts.imageUrl}}" formControlName="imageUrl">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="{{productTexts.inventory}}" formControlName="inventory">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="{{productTexts.description}}" formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="tag" formControlName="tags">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid">Lưu SP</button>
  <button mat-raised-button color="basic" [routerLink]="['/products']">Quay về</button>
</form>  

value {{productForm.value | json}}